#reset{
	background-color: black;
	width:100%;
	height:auto;
	padding-bottom: 120px;
	background-image:url('../img/red_2_flip.png');
	background-size:110px 110px;
	background-repeat:no-repeat;
	background-position:100% 100%;
	z-index:1;
}

#wrapper{
	padding:0px;
	margin:auto;
	min-height:710px;
	width:1100px;
	font-size:12pt;
	font-family:"Times New Roman", Times, serif;
	vertical-align:baseline;
	background-color: black;
	color: white;
} 

#banner{
	height:120px;
	background-image:url('../img/white_1.png');
	background-size:110px 110px;
	background-repeat:no-repeat;
	background-position:100% 0%;
	z-index:1;
}

#banner img{
	float: left;
	margin:2px 12px 0px 12px;
}

#banner h1{
	font-size: 36px;
	font-variant: small-caps;
	line-height:1;
	margin-top: 54px;
	text-shadow: 2px 2px #000000;
	float:left;
}

#banner p{
	font-size: 14pt; 
	text-shadow: 1px 1px #000000;
	line-height: 0;
}

.landing{
	height:100px;
	width:200px;
	float:right;
}

.landing p{
	margin:80px 50px 0px 0px;
	float: right;
}

.landing a:link {
	color:#FFFFFF;
}

.landing a:visited {
	color:#FFFFFF;
}

#body{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	overflow:auto;
	background-color: white;
	color: black;
	background-image:url('../img/green_2.png');
	background-size:120px 120px;
	background-repeat:no-repeat;
	background-position:0px 420px;
	z-index:1;
}

#body a:link {
	color:#000000;
}

#body a:visited {
	color:#000000;
}


h1{
	font-size: 24pt;
	font-variant: small-caps;
}

h2{
	font-size: 16pt;
	text-transform: uppercase;
	line-height: 0;
}

h3{
	font-size: 14pt;
	text-transform: uppercase;
	line-height: 1.75;
}

p{
	font-size: 14pt; 
}

#updates{
	width: 750px;
	min-height:60px;
	margin: 1px 100px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
	background-color: white;
	color: black;
	background-image:url('../img/yellow_1.png');
	background-size:90px 120px;
	background-repeat:no-repeat;
	background-position:660px 60px;
	z-index:1;

}

#cohort_select{
	float:right;
	background-color: white;
}

#feedback_accordion{
	width:800px;
	margin:10px 80px;
	float:right;
}
#feedback_accordion h3{
	cursor:pointer;
}
.clear{
	clear:both;
}

.week_bar{
	height: 36px;
	width: 750px;
	margin: 1px 25px 0px 0px;
	padding: 0px 0px 0px 10px;
	float: right;
	font-variant: small-caps;
	background-image: url('../img/black_gradient_36.png');
	background-repeat:repeat-x;
	color: white;
}

.day_bar{
	height: 24px;
	width: 700px;
	margin: 0px 25px 0px 0px;
	padding: 0px 0px 0px 10px;
	float: right;
	font-variant: small-caps;
	font-weight: bolder;
}

.assignment_space{
	float: right;
	width: 650px;
	margin: 1px 50px 0px 0px;
	background-color: white;
}

.get_media{
	color: red;
	width: 150px;
	float: right;
	text-align: right;
}

iframe{
	float:right;
	margin: 0px 25px 0px 0px;
	width:650px;
	height:420px;
}

.errors{
	color: #E5212B;
}

.wk1{
	background-image: url('../img/yellow_gradient_24.png');
	background-repeat:repeat-x;
}

.wk2{
	background-image: url('../img/yellow_gradient_24.png');
	background-repeat:repeat-x;
}

.wk3{
	background-image: url('../img/green_gradient_24.png');
	background-repeat:repeat-x;
}

.wk4{
	background-image: url('../img/green_gradient_24.png');
	background-repeat:repeat-x;
}

.wk5{
	background-image: url('../img/red_gradient_24.png');
	background-repeat:repeat-x;
}

.wk6{
	background-image: url('../img/red_gradient_24.png');
	background-repeat:repeat-x;
}

.wk7{
	background-image: url('../img/red_gradient_24.png');
	background-repeat:repeat-x;
}

.wk8{
	background-image: url('../img/black_gradient_24.png');
	background-repeat:repeat-x;
	color: #FFFFFF;
}

.wk9{
	background-image: url('../img/black_gradient_24.png');
	background-repeat:repeat-x;
	color: #FFFFFF;
}
