#wrapper{
	padding:0px;
	margin:auto;
	font-size:12pt;
	font-family:"Times New Roman", Times, serif;
	vertical-align:baseline;
	background-color: black;
	color: white;
	background-image: url('../img/coding_dojo_wallpaper.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
} 

#banner{
	height:100px;
}

#banner img{
	float: left;
	margin:2px 12px 0px 12px;
}

#banner h1{
	font-size: 36px;
	font-variant: small-caps;
	line-height:1;
	margin-top: 54px;
	text-shadow: 2px 2px #000000;
	float:left;
}

#banner p{
	font-size: 14pt; 
	text-shadow: 1px 1px #000000;
	line-height: 0;
}

#body{
	margin-left:auto;
	margin-right:auto;
	width:1100px;
	height:700px;
	overflow:auto;
	line-height: 2.5;
}

#login_space{
	margin-left:auto;
	margin-right:auto;
	padding:0px 0px 0px 60px;
	width:300px;
	overflow:auto;
	color: white;
	line-height: 0;
	float:right;
}


h1{
	font-size: 24pt;
	font-variant: small-caps;
	line-height:2.5;
	text-shadow: 2px 2px #000000;
	text-align: center;
}

h2{
	font-size: 18pt;
	font-variant: small-caps;
	text-shadow: 2px 2px #000000;
	line-height: 1;
}

p{
	font-size: 14pt; 
	text-shadow: 1px 1px #000000;
}

.errors{
	color: #E5212B;
	line-height: 1.25;
}